html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    margin: 0;
    padding: 0;

    background: center no-repeat url(https://i.imgur.com/R1yLsdt.png) black;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.game-menu {
    min-height: 100%;
    min-width: 30%;
    background-color: black;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.game-mode-display {
    background-color: blue;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.announcement-display {
    color: white;
}

.game-board {
    min-width: 620px;
    min-height: 620px;

    margin: 0 18%;


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "top-left top-center top-right"
        "center-left center-center center-right"
        "bottom-left bottom-center bottom-right";
}

.white-grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 10em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 3px 8px;
}

.top-left {
    grid-area: top-left;
    /*border-right: 5px solid white;
    border-bottom: 5px solid white; */
    box-shadow: 15px 0px 5px -5px white, 0px 15px 5px -5px white;
}

.top-center {
    grid-area: top-center;
    /*border-left: 5px solid white;
    border-bottom: 5px solid white;
    border-right: 5px solid white;*/
    box-shadow: -15px 0px 5px -5px white, 15px 0px 5px -5px white, 0px 15px 5px -5px white;
}

.top-right {
    grid-area: top-right;
    /*border-left: 5px solid white;
    border-bottom: 5px solid white;*/
    box-shadow: -15px 0px 5px -5px white, 0px 15px 5px -5px white;
}

.center-left {
    grid-area: center-left;
    /*border-top: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 5px solid white;*/
    box-shadow: 0px -15px 5px -5px white, 15px 0px 5px -5px white, 0px 15px 5px -5px white;
}

.center {
    grid-area: center-center;
    border: 5px solid white;
    box-shadow: 0px 0px 5px 10px white;
}

.center-right {
    grid-area: center-right;
    /*border-top: 5px solid white;
    border-left: 5px solid white;
    border-bottom: 5px solid white;*/
    box-shadow: -15px 0px 5px -5px white, 0px -15px 5px -5px white, 0px 15px 5px -5px white;
}

.bottom-left {
    grid-area: bottom-left;
    /*border-top: 5px solid white;
    border-right: 5px solid white;*/
    box-shadow: 15px 0px 5px -5px white, 0px -15px 5px -5px white;
}

.bottom-center {
    grid-area: bottom-center;
    /*border-left: 5px solid white;
    border-top: 5px solid white;
    border-right: 5px solid white;*/
    box-shadow: -15px 0px 5px -5px white, 0px -15px 5px -5px white, 15px 0px 5px -5px white;
}

.bottom-right {
    grid-area: bottom-right;
    /*border-left: 5px solid white;
    border-top: 5px solid white;*/
    box-shadow: -15px 0px 5px -5px white, 0px -15px 5px -5px white;
}